@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Montserrat', 'Outfit', sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #eef2ff; /* fallback */
  background-image: radial-gradient(
    80% 60% at 50% 0%,
    #eef2ff 0%,
    #f8fafc 40%,
    #ffffff 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
}

@theme {
  /* Fonts */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  /* Shadows */
  --shadow-card: 0 0 15px 0 rgba(123, 150, 232, 0.12);

  /* Border */
  --color-card: #E5E7EB;
}