@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Montserrat', 'Outfit', sans-serif;
}

html, body {
  overscroll-behavior: none;
}


@theme {
  /* Fonts */
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-jetbrains: "JetBrains Mono", monospace;

  /* Shadows */
  --shadow-card: 0 0 15px 0 rgba(123, 150, 232, 0.12);

  --color-card: #E5E7EB;
  --color-primary: #202122;

  /* Error colors */
  --color-error: #FF0004;
  --color-error-bg: rgba(255, 78, 81, 0.21);

  /* Warning colors */
  --color-warning: #CB9F1A;
  --color-warning-bg: #FFF6DA;

  --gradient-divider: linear-gradient(to right, transparent 0%, #E5E7EB 47%, transparent 98%);

}
